.container {
    max-width: 1200px;
    padding-top: 3rem;
    margin: 0 auto;
    position: relative;

    .header {
        position: sticky;
        top: 3rem;
        left: 1rem;

        .textDiv {
            margin-bottom: 1.5rem;

            p {
                margin: 0;
                font-weight: 700;
                font-size: 12px;
                line-height: 12.76px;
            }
        }
    }

    .postContainer {
        position: sticky;
        top: 0;

        .img {
            width: 50%;
            max-width: 700px;
            margin: 0 auto;
            margin-bottom: 2rem;
        
            img {
                width: 100%;
            }
        }
    }

}